{% extends "admin/base.html" %}



{% block title %}{{ 'Micro Insurance' }} {% endblock %}

{% block extrastyle %}
<style type="text/css">
	#header{
		background-color:#333333;
	}
	#branding h1, #branding h1 a:link, #branding h1 a:visited {
    	color: #333333;
    	font-size: 24px;
    	font-weight: bold;
	}
	#branding h1 a:visited {
   		color: #F0F0F0;
	}
	th{
		font-size: 15px;
	}
	a.section{
		font-size:20px;
		height:2em;
	}
</style>

{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Micro Insurance</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
